site_name: Teófilo Alberto
site_url: https://teoberto.com/
repo_url: https://github.com/teoberto/escritos
repo_name: teoberto/escritos

plugins:
  - search
  - blog:
      blog_dir: blog
      post_date_format: full
      post_url_format: "{date}/{slug}"
      authors: true
      categories: true
      archive: true
      archive_name: Arquivo
      archive_date_format: yyyy
      archive_url_format: "arquivo/{date}"
      categories_name: Categorias
      pagination: true
      pagination_per_page: 10

theme:
  name: material
  language: pt-BR
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Modo escuro
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Modo claro
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.top
    - navigation.indexes
    - navigation.tracking
    - toc.follow
    - toc.integrate

markdown_extensions:
  - pymdownx.highlight
  - pymdownx.superfences
  - admonition
  - pymdownx.details
  - attr_list
  - md_in_html
  - toc:
      permalink: true

nav:
  - Página inicial: index.md
  - Blog: blog/index.md