site_name: Escritos
site_url: https://teoberto.com/
repo_url: https://github.com/teoberto/escritos
repo_name: teoberto/escritos

extra:
  # GARANTE QUE O GH-PAGES SEMPRE TERÁ O ARQUIVO CNAME
  CNAME: teoberto.com

theme:
  name: material
  language: pt-BR
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Modo escuro
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Modo claro

markdown_extensions:
  - pymdownx.highlight
  - pymdownx.superfences
  - admonition
  - pymdownx.details

nav:
  - Home: index.md
  - Diário da família: familia/teste.md
